@import "tailwindcss";

:root {
  /* Cores Primárias */
  --color-primary-base: #4f555c;
  --color-primary-base-light: #717780;
  --color-primary-base-dark: #5b6068;
  --color-primary-light: #f1f2f4;
  --color-primary-medium: #a3a7ac;
  --color-primary-dark: #2d3236;
  
  /* Tons Frios */
  --color-blue-soft: #4a90e2;
  --color-blue-petrol: #2f5d73;
  --color-cyan-light: #8fd3e8;
  
  /* Tons de Contraste */
  --color-green-soft: #6cbf84;
  --color-yellow-mustard: #e2b44a;
  --color-red-burnt: #c94f4f;
}

@theme {
  --color-primary-base: var(--color-primary-base);
  --color-primary-base-dark: var(--color-primary-base-dark);
  --color-primary-base-light: var(--color-primary-base-light);
  --color-primary-light: var(--color-primary-light);
  --color-primary-medium: var(--color-primary-medium);
  --color-primary-dark: var(--color-primary-dark);
  
  --color-blue-soft: var(--color-blue-soft);
  --color-blue-petrol: var(--color-blue-petrol);
  --color-cyan-light: var(--color-cyan-light);
  
  --color-green-soft: var(--color-green-soft);
  --color-yellow-mustard: var(--color-yellow-mustard);
  --color-red-burnt: var(--color-red-burnt);
}